.timer {
    width: 160px;
    height: 80px;
    margin: 5px;
}
.time {
    border-radius: 10px;
    background-color: #2F4F4F;
    color: #00FF7F;

    padding:5px 20px;
    margin-top: 5px;
    box-shadow: 0 0 15px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF;

}

.date {
    border-radius: 10px;
    background-color: #2F4F4F;
    color: #00FF7F;
    /*border: 4px outset #5468FF;*/
    padding: 5px 20px;
    margin-top: 5px;
    box-shadow: 0 0 5px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF;
}

.buttonBlock {
    margin-top: 15px;
    margin-bottom: 5px;
}