
.linkItem {
    text-decoration: none;

    border-radius: 5px;
    margin-left: 5px;
    background-color: #00FF7F;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 0 5px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF,
    0 0 10px #5468FF;
}

.linkItem a {
    text-decoration: none;
    margin: 5px;

}

.active {
    font-weight: bold;
    color: #5468FF;
}


.main {
    display: inline-flex;
    flex-direction: row;
    width: 280px;
    transition-duration: 300ms;
    transform: translate(-245px, 0px);
    position: sticky;
    top: 0;
}

.main:hover {
    transition-duration: 300ms;
    transform: translate(10px, 0);
}







