
.linkItem {
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 5px;
    background-color: yellowgreen;
    font-size: 20px;
    text-align: center;
}

.linkItem a {
    text-decoration: none;
    margin: 5px;
}

.active {
    font-weight: bold;
    color: darkviolet;
}


.main {
    display: inline-flex;
    flex-direction: row;
    width: 280px;
    transition-duration: 300ms;
    transform: translate(-238px, 0px);
    font-family: "Times New Roman";
    position: sticky;
    top: 0;
}

.main:hover {
    transition-duration: 300ms;
    transform: translate(10px, 0);
}







